<a href="https://colab.research.google.com/github/Joykareko/AWS-Udacity-Capstone-Project/blob/main/Arvato_Project_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [ ]:
! ls ../../data/Term2/capstone/arvato_data/

Udacity_AZDIAS_052018.csv     Udacity_MAILOUT_052018_TEST.csv
Udacity_CUSTOMERS_052018.csv  Udacity_MAILOUT_052018_TRAIN.csv

In [ ]:
! cp ../../data/Term2/capstone/arvato_data/* . -fv

'../../data/Term2/capstone/arvato_data/Udacity_AZDIAS_052018.csv' -> './Udacity_AZDIAS_052018.csv'
'../../data/Term2/capstone/arvato_data/Udacity_CUSTOMERS_052018.csv' -> './Udacity_CUSTOMERS_052018.csv'
'../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv' -> './Udacity_MAILOUT_052018_TEST.csv'
'../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv' -> './Udacity_MAILOUT_052018_TRAIN.csv'

In [ ]:
! zip all.zip * .csv

	zip warning: name not matched: .csv
  adding: Arvato Project Workbook.ipynb (deflated 68%)
  adding: Arvato-Project-Workbook-zh.ipynb (deflated 58%)
  adding: DIAS Attributes - Values 2017.xlsx (deflated 10%)
  adding: DIAS Information Levels - Attributes 2017.xlsx (deflated 15%)
  adding: Udacity_AZDIAS_052018.csv (deflated 78%)
  adding: Udacity_CUSTOMERS_052018.csv (deflated 81%)
  adding: Udacity_MAILOUT_052018_TEST.csv (deflated 79%)
  adding: Udacity_MAILOUT_052018_TRAIN.csv (deflated 79%)
  adding: terms_and_conditions/ (stored 0%)

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [ ]:
# load in the data, and getting a sample of the data
azdias = pd.read_csv('/content/Udacity_AZDIAS_052018.csv', sep=';')
customers = pd.read_csv('/content/Udacity_CUSTOMERS_052018.csv', sep=';')
attributes = pd.read_excel('/content/DIAS Attributes - Values 2017.xlsx')

### Checking out the General populations' data (Azdias)

In [ ]:
#checking out the data, first 3 rows
#The data has alot of missing values which will need cleanup
population.head(3)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3

In [ ]:
#checking out the number of columns and rows
azdias.shape

(891221, 366)

In [ ]:
#checking out the general info on columns
#we have 6 columns that have categorical data
azdias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Columns: 366 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(93), object(6)
memory usage: 2.4+ GB

In [ ]:
#checking out which columns are these
list(azdias.select_dtypes(include='object').columns)

['CAMEO_DEU_2015',
 'CAMEO_DEUG_2015',
 'CAMEO_INTL_2015',
 'D19_LETZTER_KAUF_BRANCHE',
 'EINGEFUEGT_AM',
 'OST_WEST_KZ']

In [ ]:
#lets check out the number of categories
#the dataset has 6 features that are categorical. Each feature has different categories, some with unknown values
azdias.select_dtypes(include='object').nunique()

CAMEO_DEU_2015                45
CAMEO_DEUG_2015               19
CAMEO_INTL_2015               43
D19_LETZTER_KAUF_BRANCHE      35
EINGEFUEGT_AM               5162
OST_WEST_KZ                    2
dtype: int64

In [ ]:
#checking out stats features for the 360 numerical features
#the mean values are very varied. We may need to preprocess them before modelling.
#we also have alot of missing data.
azdias.describe()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
count,8.912210e+05,891221.000000,817722.000000,817722.000000,81058.000000,29499.000000,6170.000000,1205.000000,628274.000000,798073.000000,...,770025.000000,815304.000000,815304.000000,815304.000000,783619.000000,817722.000000,798073.000000,891221.000000,891221.000000,891221.000000
mean,6.372630e+05,-0.358435,4.421928,10.864126,11.745392,13.402658,14.476013,15.089627,13.700717,8.287263,...,2.417322,6.001214,7.532130,5.945972,3.933406,7.908791,4.052836,3.362438,1.522098,2.777398
std,2.572735e+05,1.198724,3.638805,7.639683,4.097660,3.243300,2.712427,2.452932,5.079849,15.628087,...,1.166572,2.856091,3.247789,2.771464,1.964701,1.923137,1.949539,1.352704,0.499512,1.068775
min,1.916530e+05,-1.000000,1.000000,0.000000,2.000000,2.000000,4.000000,7.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,4.144580e+05,-1.000000,1.000000,0.000000,8.000000,11.000000,13.000000,14.000000,11.000000,1.000000,...,2.000000,3.000000,5.000000,4.000000,2.000000,8.000000,3.000000,3.000000,1.000000,2.000000
50%,6.372630e+05,-1.000000,3.000000,13.000000,12.000000,14.000000,15.000000,15.000000,14.000000,4.000000,...,2.000000,6.000000,8.000000,6.000000,4.000000,9.000000,3.000000,3.000000,2.000000,3.000000
75%,8.600680e+05,-1.000000,9.000000,17.000000,15.000000,16.000000,17.000000,17.000000,17.000000,9.000000,...,3.000000,9.000000,10.000000,8.000000,6.000000,9.000000,5.000000,4.000000,2.000000,4.000000
max,1.082873e+06,3.000000,9.000000,21.000000,18.000000,18.000000,18.000000,18.000000,25.000000,595.000000,...,4.000000,11.000000,13.000000,11.000000,6.000000,9.000000,8.000000,6.000000,2.000000,9.000000

In [ ]:
#number of unknown values in general
unknowns=azdias.isnull().sum().sum()
print('Total Unknown Values for the Population Dataset is: ',unknowns)

Total Unknown Values for the Population Dataset is:  33492923

These are alot of unknowns.
Lets check the data description to check on the categorical features further for azdias.

### Checking out the Attributes data/information

In [ ]:
attributes.head(10)

,Unnamed: 0,Attribute,Description,Value,Meaning
0,NaN,AGER_TYP,best-ager typology,-1,unknown
1,NaN,NaN,NaN,0,no classification possible
2,NaN,NaN,NaN,1,passive elderly
3,NaN,NaN,NaN,2,cultural elderly
4,NaN,NaN,NaN,3,experience-driven elderly
5,NaN,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,NaN,NaN,NaN,1,< 30 years
7,NaN,NaN,NaN,2,30 - 45 years
8,NaN,NaN,NaN,3,46 - 60 years
9,NaN,NaN,NaN,4,> 60 years

In [ ]:
attributes.tail(10)

,Unnamed: 0,Attribute,Description,Value,Meaning
2248,NaN,NaN,NaN,4,average
2249,NaN,NaN,NaN,5,unlikely
2250,NaN,NaN,NaN,6,very unlikely
2251,NaN,ZABEOTYP,typification of energy consumers,"-1, 9",unknown
2252,NaN,NaN,NaN,1,green
2253,NaN,NaN,NaN,2,smart
2254,NaN,NaN,NaN,3,fair supplied
2255,NaN,NaN,NaN,4,price driven
2256,NaN,NaN,NaN,5,seeking orientation
2257,NaN,NaN,NaN,6,indifferent

The above data shows that there are missing values inform of (-1,0,9 and even 10)
Lets see exactly that below

In [ ]:
attributes[attributes.Meaning.str.contains('know',na=False)]

,Unnamed: 0,Attribute,Description,Value,Meaning
0,NaN,AGER_TYP,best-ager typology,-1,unknown
5,NaN,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
11,NaN,ALTER_HH,main age within the household,0,unknown / no main age detectable
33,NaN,ANREDE_KZ,gender,"-1, 0",unknown
40,NaN,BALLRAUM,distance to next urban centre,-1,unknown
48,NaN,BIP_FLAG,business-flag indicating companies in the buil...,-1,unknown
51,NaN,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,-1,unknown
105,NaN,CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typo...,-1,unknown
131,NaN,CJT_GESAMTTYP,customer journey typology,0,unknown
138,NaN,D19_BANKEN_ANZ_12,transaction activity BANKS in the last 12 months,0,no transactions known
145,NaN,D19_BANKEN_ANZ_24,transaction activity BANKS in the last 24 months,0,no transactions known
161,NaN,NaN,NaN,10,no transactions known
162,NaN,D19_BANKEN_DIREKT_RZ,transactional activity based on the product gr...,0,no transaction known
170,NaN,D19_BANKEN_GROSS_RZ,transactional activity based on the product gr...,0,no transaction known
178,NaN,D19_BANKEN_LOKAL_RZ,transactional activity based on the product gr...,0,no transaction known
195,NaN,NaN,NaN,10,no transactions known
205,NaN,NaN,NaN,10,no transactions known
217,NaN,D19_BANKEN_REST_RZ,transactional activity based on the product gr...,0,no transaction known
225,NaN,D19_BEKLEIDUNG_GEH_RZ,transactional activity based on the product gr...,0,no transaction known
233,NaN,D19_BEKLEIDUNG_REST_RZ,transactional activity based on the product gr...,0,no transaction known
241,NaN,D19_BILDUNG_RZ,transactional activity based on the product gr...,0,no transaction known
249,NaN,D19_BIO_OEKO_RZ,transactional activity based on the product gr...,0,no transaction known
257,NaN,D19_BUCH_RZ,transactional activity based on the product gr...,0,no transaction known
265,NaN,D19_DIGIT_SERV_RZ,transactional activity based on the product gr...,0,no transaction known
273,NaN,D19_DROGERIEARTIKEL_RZ,transactional activity based on the product gr...,0,no transaction known
281,NaN,D19_ENERGIE_RZ,transactional activity based on the product gr...,0,no transaction known
289,NaN,D19_FREIZEIT_RZ,transactional activity based on the product gr...,0,no transaction known
297,NaN,D19_GARTEN_RZ,transactional activity based on the product gr...,0,no transaction known
305,NaN,D19_GESAMT_ANZ_12,transaction activity TOTAL POOL in the last 12...,0,no transactions known
312,NaN,D19_GESAMT_ANZ_24,transaction activity TOTAL POOL in the last 24...,0,no transactions known
...,...,...,...,...,...
2033,NaN,PLZ8_ANTG4,number of >10 family houses in the PLZ8,-1,unknown
2042,NaN,PLZ8_GBZ,number of buildings within the PLZ8,-1,unknown
2048,NaN,PLZ8_HHZ,number of households within the PLZ8,-1,unknown
2054,NaN,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (ava...,"-1, 0",unknown
2070,NaN,REGIOTYP,neighbourhood,"-1, 0",unknown
2083,NaN,NaN,NaN,"-1, 9",unknown
2084,NaN,RETOURTYP_BK_S,return type,0,unknown
2090,NaN,SEMIO_DOM,affinity indicating in what way the person is ...,"-1, 9",unknown
2098,NaN,SEMIO_ERL,affinity indicating in what way the person is ...,"-1, 9",unknown
2106,NaN,SEMIO_FAM,affinity indicating in what way the person is ...,"-1, 9",unknown
2114,NaN,SEMIO_KAEM,affinity indicating in what way the person is ...,"-1, 9",unknown
2122,NaN,SEMIO_KRIT,affinity indicating in what way the person is ...,"-1, 9",unknown
2130,NaN,SEMIO_KULT,affinity indicating in what way the person is ...,"-1, 9",unknown
2138,NaN,SEMIO_LUST,affinity indicating in what way the person is ...,"-1, 9",unknown
2146,NaN,SEMIO_MAT,affinity indicating in what way the person is ...,"-1, 9",unknown
2154,NaN,SEMIO_PFLICHT,affinity indicating in what way the person is ...,"-1, 9",unknown
2162,NaN,SEMIO_RAT,affinity indicating in what way the person is ...,"-1, 9",unknown
2170,NaN,SEMIO_REL,affinity indicating in what way the person is ...,"-1, 9",unknown
2178,NaN,SEMIO_SOZ,affinity indicating in what way the person is ...,"-1, 9",unknown
2186,NaN,SEMIO_TRADV,affinity indicating in what way the person is ...,"-1, 9",unknown
2194,NaN,SEMIO_VERT,affinity indicating in what way the person is ...,"-1, 9",unknown
2202,NaN,SHOPPER_TYP,shopping typology,-1,unknown
2207,NaN,SOHO_FLAG,small office/home office flag,-1,unknown
2210,NaN,TITEL_KZ,flag whether this person holds an academic title,"-1, 0",unknown
2216,NaN,VERS_TYP,insurance typology,-1,unknown
2219,NaN,WOHNDAUER_2008,length of residence,"-1, 0",unknown
2229,NaN,WOHNLAGE,residential-area,-1,unknown
2238,NaN,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,"-1, 0",unknown
2244,NaN,W_KEIT_KIND_HH,likelihood of a child present in this household,"-1, 0",unknown
2251,NaN,ZABEOTYP,typification of energy consumers,"-1, 9",unknown

Thats alot of unknowns. We need to convert them to NaNs and then get a list of missing values afresh

Lets explore the customers data as well.

### Checking out the customers data characteristics

In [ ]:
#displaying 3 rows of customers dataset
customers.head(3)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4

In [ ]:
customers.shape

(191652, 369)

In [ ]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191652 entries, 0 to 191651
Columns: 369 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(94), object(8)
memory usage: 539.5+ MB

We have 8 categorical type, features in the customers dataset

In [ ]:
#checking out which columns are these
list(customers.select_dtypes(include='object').columns)

['CAMEO_DEU_2015',
 'CAMEO_DEUG_2015',
 'CAMEO_INTL_2015',
 'D19_LETZTER_KAUF_BRANCHE',
 'EINGEFUEGT_AM',
 'OST_WEST_KZ',
 'PRODUCT_GROUP',
 'CUSTOMER_GROUP']

In [ ]:
#lets check out the number of categories
#the dataset has 6 features that are categorical. Each feature has different categories, some with unknown values
customers.select_dtypes(include='object').nunique()

CAMEO_DEU_2015                45
CAMEO_DEUG_2015               19
CAMEO_INTL_2015               43
D19_LETZTER_KAUF_BRANCHE      35
EINGEFUEGT_AM               3034
OST_WEST_KZ                    2
PRODUCT_GROUP                  3
CUSTOMER_GROUP                 2
dtype: int64

In [ ]:
customers.describe()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
count,191652.000000,191652.000000,145056.000000,145056.000000,11766.000000,5100.000000,1275.000000,236.000000,139810.000000,141725.000000,...,143781.000000,143781.000000,143781.000000,137910.000000,145056.000000,141725.000000,191652.000000,191652.000000,191652.000000,191652.000000
mean,95826.500000,0.344359,1.747525,11.352009,12.337243,13.672353,14.647059,15.377119,10.331579,4.965863,...,4.374417,4.564769,3.168868,4.152716,8.646371,3.723133,2.576806,0.090247,1.376432,3.060907
std,55325.311233,1.391672,1.966334,6.275026,4.006050,3.243335,2.753787,2.307653,4.134828,14.309694,...,2.924355,2.887035,2.233516,1.974375,1.154001,2.095540,1.168486,0.286536,0.484492,1.086254
min,1.000000,-1.000000,1.000000,0.000000,2.000000,2.000000,5.000000,8.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
25%,47913.750000,-1.000000,1.000000,8.000000,9.000000,11.000000,13.000000,14.000000,9.000000,1.000000,...,2.000000,2.000000,1.000000,2.000000,9.000000,2.000000,1.000000,0.000000,1.000000,3.000000
50%,95826.500000,0.000000,1.000000,11.000000,13.000000,14.000000,15.000000,16.000000,10.000000,1.000000,...,4.000000,4.000000,3.000000,5.000000,9.000000,3.000000,3.000000,0.000000,1.000000,3.000000
75%,143739.250000,2.000000,1.000000,16.000000,16.000000,16.000000,17.000000,17.000000,13.000000,4.000000,...,7.000000,7.000000,4.000000,6.000000,9.000000,5.000000,3.000000,0.000000,2.000000,4.000000
max,191652.000000,3.000000,9.000000,21.000000,18.000000,18.000000,18.000000,18.000000,25.000000,523.000000,...,11.000000,13.000000,11.000000,6.000000,9.000000,8.000000,6.000000,1.000000,2.000000,9.000000

In [ ]:
#number of unknown values in general
unknowns2=customers.isnull().sum().sum()
print('Total Unknown Values for the Customers Dataset is: ',unknowns2)

Total Unknown Values for the Customers Dataset is:  13864522

### Cleaning the Datasets

After assessing the datasets, the below steps will be followed inorder to clean the datasets:

1. Drop all columns null/missing values with 60% missing data.
2. Replace missing values(-1/0/9/10/etc) through data imputation.
        a. Numerical features with Mean (mean value)
        b. Categorial features with Mode(most common)
3. Encode Features.
        a. One hot encoding
        b. Transformational Binary encoding
4. Scale data, to standardize the variability in the features

In [ ]:
def drop_cols(df):
    '''
    function that drops columns that 
    have more than 50% data that is missing/contains NaNs'''
    #finding columns with 60% missing data
    print("==========================")
    print('Old Data shape: ',df.shape)
    
    df_1 = (df.isnull().sum()/df.shape[0])>0.8
    df_2 = df[df.columns[~df_1]]
    print('=============================')
    print("New Data shape: ", df_2.shape)
    print('=============================')
    
    #we now have a new dataset;
    #we also need to check row wise for 60% missing data
    df_3 = (df_2.isnull().sum(axis=0)/df_2.shape[0])>0.4
    df_4 = df_2[df_2.columns[~df_3]]
    print('========================================')
    print('Final Data shape after row deletion: ', df_4.shape)
    return df_4

In [ ]:
drop_cols(customers)

==========================
Old Data shape:  (191652, 369)
=============================
New Data shape:  (191652, 365)
=============================
========================================
Final Data shape after row deletion:  (191652, 363)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,ANZ_KINDER,ANZ_PERSONEN,ANZ_STATISTISCHE_HAUSHALTE,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,10.0,1.0,0.0,0.0,2.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,0.0,3.0,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,0.0,1.0,0.0,0.0,1.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,8.0,0.0,NaN,0.0,0.0,1.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,14.0,7.0,0.0,0.0,4.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3
5,143888,1,1.0,11.0,10.0,1.0,0.0,0.0,2.0,1.0,...,1.0,6.0,9.0,1.0,2,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
6,143904,2,1.0,10.0,10.0,1.0,0.0,0.0,2.0,1.0,...,2.0,6.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
7,143910,1,1.0,10.0,9.0,1.0,0.0,0.0,2.0,1.0,...,1.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,1,4
8,102160,2,3.0,5.0,4.0,74.0,2.0,0.0,1.0,82.0,...,9.0,6.0,3.0,4.0,3,COSMETIC,MULTI_BUYER,0,2,4
9,102173,1,1.0,20.0,13.0,1.0,0.0,0.0,3.0,1.0,...,4.0,2.0,9.0,5.0,1,COSMETIC,MULTI_BUYER,0,1,3
10,102184,-1,7.0,14.0,14.0,NaN,NaN,0.0,1.0,NaN,...,7.0,0.0,3.0,NaN,3,COSMETIC,MULTI_BUYER,1,2,3
11,102185,1,1.0,10.0,10.0,1.0,0.0,0.0,1.0,1.0,...,2.0,6.0,3.0,4.0,1,FOOD,SINGLE_BUYER,0,1,4
12,102227,-1,1.0,21.0,14.0,1.0,0.0,0.0,3.0,1.0,...,5.0,4.0,9.0,7.0,1,FOOD,SINGLE_BUYER,0,1,4
13,102230,-1,1.0,15.0,14.0,1.0,0.0,1.0,2.0,1.0,...,5.0,1.0,9.0,4.0,4,FOOD,SINGLE_BUYER,1,1,3
14,102239,2,1.0,6.0,6.0,9.0,0.0,0.0,1.0,9.0,...,3.0,6.0,7.0,3.0,4,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
15,110278,2,5.0,17.0,12.0,1.0,0.0,0.0,5.0,1.0,...,2.0,2.0,9.0,2.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,3
16,110279,1,1.0,0.0,10.0,1.0,0.0,1.0,2.0,1.0,...,1.0,1.0,9.0,2.0,1,COSMETIC,SINGLE_BUYER,0,1,4
17,110305,-1,7.0,20.0,19.0,1.0,0.0,0.0,6.0,1.0,...,1.0,2.0,9.0,2.0,1,COSMETIC,MULTI_BUYER,0,1,4
18,110306,-1,1.0,17.0,17.0,17.0,0.0,0.0,1.0,17.0,...,6.0,5.0,9.0,3.0,4,COSMETIC,SINGLE_BUYER,1,1,2
19,110322,-1,1.0,0.0,14.0,12.0,0.0,0.0,1.0,8.0,...,6.0,6.0,8.0,3.0,3,FOOD,SINGLE_BUYER,0,2,4
20,110327,-1,1.0,0.0,15.0,1.0,0.0,0.0,3.0,1.0,...,2.0,6.0,9.0,2.0,1,FOOD,SINGLE_BUYER,0,1,4
21,110328,2,7.0,11.0,11.0,29.0,0.0,0.0,1.0,25.0,...,7.0,6.0,5.0,7.0,4,FOOD,SINGLE_BUYER,0,1,4
22,110336,2,1.0,8.0,8.0,2.0,0.0,0.0,3.0,3.0,...,5.0,6.0,9.0,7.0,3,FOOD,SINGLE_BUYER,0,2,1
23,110344,-1,7.0,14.0,14.0,45.0,0.0,0.0,1.0,41.0,...,7.0,5.0,7.0,4.0,6,COSMETIC,SINGLE_BUYER,1,1,3
24,110356,2,1.0,19.0,10.0,2.0,0.0,0.0,4.0,2.0,...,1.0,2.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
25,110357,-1,1.0,21.0,15.0,1.0,0.0,1.0,4.0,1.0,...,4.0,1.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,3
26,5538,1,1.0,9.0,9.0,2.0,0.0,0.0,2.0,2.0,...,4.0,4.0,9.0,7.0,3,COSMETIC,MULTI_BUYER,0,2,4
27,5545,-1,2.0,19.0,NaN,1.0,0.0,0.0,5.0,1.0,...,1.0,2.0,9.0,1.0,1,COSMETIC,SINGLE_BUYER,0,1,3
28,5573,2,1.0,8.0,8.0,10.0,0.0,0.0,1.0,10.0,...,1.0,6.0,9.0,5.0,3,COSMETIC,MULTI_BUYER,0,2,4
29,5574,0,1.0,12.0,12.0,14.0,0.0,0.0,1.0,13.0,...,3.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191622,141330,2,1.0,8.0,8.0,2.0,0.0,0.0,2.0,2.0,...,1.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191623,141335,1,1.0,11.0,11.0,1.0,0.0,0.0,4.0,1.0,...,2.0,4.0,9.0,1.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191624,141336,1,1.0,13.0,13.0,1.0,0.0,0.0,1.0,1.0,...,2.0,5.0,9.0,1.0,1,COSMETIC,MULTI_BUYER,0,1,4
191625,153439,2,1.0,10.0,10.0,1.0,0.0,0.0,2.0,1.0,...,3.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,2,4
191626,153440,-1,1.0,14.0,14.0,7.0,0.0,0.0,1.0,6.0,...,7.0,4.0,4.0,2.0,4,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,2
191627,153447,3,1.0,9.0,9.0,11.0,0.0,0.0,1.0,10.0,...,1.0,6.0,9.0,4.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,3
191628,153455,1,1.0,12.0,12.0,1.0,0.0,0.0,1.0,1.0,...,3.0,6.0,9.0,1.0,3,COSMETIC,SINGLE_BUYER,0,1,4
191629,153475,2,9.0,8.0,8.0,97.0,1.0,0.0,2.0,102.0,...,3.0,3.0,4.0,2.0,3,COSMETIC,MULTI_BUYER,0,2,4
191630,153477,2,1.0,10.0,10.0,1.0,0.0,0.0,1.0,1.0,...,3.0,6.0,8.0,3.0,3,COSMETIC,SINGLE_BUYER,0,1,3
191631,153481,2,1.0,9.0,9.0,24.0,0.0,0.0,0.0,22.0,...,1.0,NaN,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
191632,153525,0,1.0,18.0,13.0,3.0,0.0,0.0,3.0,2.0,...,3.0,2.0,9.0,7.0,1,FOOD,SINGLE_BUYER,0,1,3
191633,153551,1,1.0,20.0,12.0,1.0,0.0,0.0,3.0,1.0,...,2.0,3.0,9.0,3.0,1,FOOD,SINGLE_BUYER,0,1,4
191634,55811,2,1.0,18.0,12.0,2.0,0.0,0.0,4.0,2.0,...,1.0,2.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,3
191635,55815,2,1.0,14.0,8.0,1.0,0.0,0.0,2.0,1.0,...,3.0,6.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
191636,55817,2,1.0,8.0,7.0,1.0,1.0,0.0,2.0,1.0,...,1.0,6.0,9.0,1.0,2,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191637,55823,-1,1.0,21.0,14.0,1.0,0.0,0.0,4.0,1.0,...,2.0,4.0,9.0,3.0,1,FOOD,SINGLE_BUYER,0,2,3
191638,55832,1,1.0,12.0,11.0,20.0,0.0,0.0,3.0,15.0,...,4.0,6.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191639,55834,-1,3.0,15.0,15.0,2.0,0.0,0.0,1.0,2.0,...,3.0,3.0,7.0,5.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
191640,55835,3,1.0,19.0,13.0,3.0,0.0,0.0,3.0,2.0,...,2.0,5.0,9.0,2.0,1,COSMETIC,SINGLE_BUYER,0,1,3
191641,55838,1,1.0,9.0,9.0,1.0,0.0,0.0,1.0,1.0,...,3.0,6.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191642,154464,2,1.0,9.0,9.0,32.0,0.0,0.0,1.0,28.0,...,1.0,6.0,9.0,5.0,3,FOOD,SINGLE_BUYER,0,2,4
191643,154503,2,1.0,18.0,11.0,1.0,0.0,0.0,4.0,1.0,...,1.0,2.0,9.0,1.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191644,154513,2,2.0,13.0,13.0,7.0,0.0,0.0,1.0,5.0,...,2.0,4.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,1,2,4
191645,154554,2,1.0,21.0,13.0,2.0,0.0,0.0,7.0,2.0,...,3.0,2.0,9.0,4.0,6,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,4
191646,154559,3,1.0,13.0,13.0,5.0,0.0,0.0,1.0,3.0,...,1.0,6.0,9.0,4.0,3,FOOD,SINGLE_BUYER,0,2,2
191647,154561,1,1.0,9.0,9.0,1.0,0.0,0.0,1.0,1.0,...,5.0,6.0,9.0,1.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
191648,154563,-1,2.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,...,4.0,NaN,9.0,3.0,3,COSMETIC,SINGLE_BUYER,0,2,4
191649,148813,2,1.0,15.0,10.0,1.0,0.0,0.0,3.0,1.0,...,5.0,3.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191650,148852,3,1.0,13.0,13.0,4.0,0.0,0.0,4.0,3.0,...,1.0,4.0,9.0,2.0,3,FOOD,SINGLE_BUYER,0,2,3
191651,148883,3,1.0,0.0,9.0,1.0,0.0,0.0,3.0,1.0,...,1.0,3.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,2

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')